body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url("https://unsplash.com/photos/mBQIfKlvowM/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTd8fG5hdHVyZXxlbnwwfHx8fDE2ODM4Njg2ODV8MA&force=true");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span {
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: 0.75;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkblue;
    opacity: 0.75;
}

.clock #ampm {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: green;
    opacity: 0.75;
}